#/bin/bash
export AZURE_OPENAI_ENDPOINT=""
export AZURE_OPENAI_KEY=""
export AZURE_OPENAI_DEPLOYMENT=""
export AZURE_OPENAI_API_VERSION=""
export AZURE_SEARCH_ENDPOINT=""
export AZURE_SEARCH_KEY=""
export AZURE_SEARCH_INDEX=""
export AZURE_TRACING_GEN_AI_CONTENT_RECORDING_ENABLED=""
export AZURE_SDK_TRACING_IMPLEMENTATION=""
export AZURE_PROJECT_CONNECTION_STRING=""
export AZURE_SUBSCRIPTION_ID=""
export AZURE_RESOURCE_GROUP=""
export AZURE_PROJECT_NAME=""