flask
openai==1.59.9
aiohttp
azure-core
azure-identity~=1.19.0
azure-ai-projects
azure-ai-inference
azure-ai-evaluation
azure-ai-inference[opentelemetry]
azure-monitor-opentelemetry
azure-search-documents
opentelemetry-api~=1.29.0
opentelemetry-sdk~=1.29.0
opentelemetry-exporter-otlp
opentelemetry-instrumentation-openai-v2
pandas
streamlit