flask
openai
aiohttp
azure-core
azure-identity~=1.19.0
azure-ai-projects
azure-ai-inference[opentelemetry]
azure-ai-evaluation
azure-monitor-opentelemetry
azure-search-documents==11.6.0b1
opentelemetry-instrumentation-openai-v2
opentelemetry 
opentelemetry-exporter-otlp 
pandas